body {
    
    background-color: #e8fffa37;
    margin: 0; 
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {

    background-color: #61659C;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem; 
    padding: 3.7rem; 
    box-sizing: border-box;
    z-index: 1000;
}

.llista {

    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-wrap: flex;
    gap: 2rem;
    font-weight: bold;
}

.llistaBotons {

    background-color: #bdcedd;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: none;
    border-radius: 5px;
    color: #534d4d;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.llistaBotons:hover {

    background-color: #534d4d;
    color: white;
}

.configButton {

    margin-left: 1rem;
    margin-right: 0;
    font-size: 2rem;
    background-color: #8db4d7;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: none;
    border-radius: 5px;
    color: #534d4d;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.configButton:hover {

    background-color: #534d4d;
    color: white;
}

.userName {

    font-size: 3rem; 
    font-weight: bold;
    color: white;
    margin: 0;
    text-decoration: none;
}

.camps {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0 0 5.5rem;
}

.inputs{

    border: 1px solid #ddd; 
    font-size: 1rem;
    border-radius: 5px;  
    box-sizing: border-box;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.executar{

    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    color: white;
    background-color: #2C632C;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.executar:hover{

    transform: scale(1.1);
    background-color: #45a049;
}

.articlesGrid{

    border: 1px solid #696464; 
    padding: 15px; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    overflow: hidden;
    width: 31%  ; 
    text-overflow: ellipsis;
    box-sizing: border-box;
    max-height: 7.8rem;
    transition: background-color 0.3s ease, transform 0.2s ease, max-height 1s ease,  margin 0.3s ease;
}

.titolArticles{
    
    margin-top: 0; 
    margin-bottom: 0;
    font-size: 1.2rem;
    text-overflow: ellipsis;
}

.articlesGrid:hover {

    color: white;
    background-color: #000000;
    max-height: 50rem;
}

.flexbox {

    margin-left: 2rem;
    gap: 20px; 
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.tools{

    margin-top: auto; 
    text-align: right;
    position: relative;
    gap: 1rem;
}

.botoEditar{

    text-decoration: none; 
    color: #cfe1f5; 
    margin-right: 10px;
}

.botoEditar:hover{

    text-decoration: underline; 
    color: #cfe1f5;
}

.botoEliminar {

    text-decoration: none; 
    color: #fba6b0;
}

.botoEliminar:hover {

    text-decoration: underline; 
    color: #fba6b0;
}

.botoQR {

    text-decoration: none; 
    color:#a1d9ff;
}

.botoQR:hover {

    text-decoration: underline; 
    color: #a1d9ff;
}

.paginacio{

    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.pagBox {

    padding: 8px 12px; 
    margin: 0 5px; 
    text-decoration: none; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    color: #0051A8; 
    background-color: #FFFFFF;
}

.pagBox:hover{

    background-color: #ddd;
}

.botonsPag {

    display: inline-block;
    padding: 0.6rem 0.8rem; 
    margin-right: 0.5rem; 
    text-decoration: none; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    color: #0051A8; 
    background-color: #FFFFFF;
}

.botonsPag:hover{

    background-color: #ddd;
}

.titolsGenerics{
    
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative; 
    text-align: center;

}

.links{

    font-size: 1.3rem;
    color: #f9f9f9;
    display: grid;
    align-items: center;
    text-decoration: none;
    justify-content: center;

}

.links:hover{

    text-decoration: underline;
    color: #88dbdb;
}

.links:focus{
    
    text-decoration: underline;
    color: #000000;
}

.botoTornar{

    position: relative;
    font-size: 1.5rem;
    border: 1px solid #a5b8c9;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #345b6e5a;
    text-align: center; 
    justify-content: center;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botoTornar:hover{

    background-color: #4a6882;
    scale: (1.1);
}


.modal {

    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {

    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
}


.close {

    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
}


#qrContainer {

    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    text-align: center; 
}

#qrContainer img {

    max-width: 100%; 
    height: auto;
    max-height: 200px; 
}

.navbar-user-photo {

    position: relative;
    display: inline-block;
}

.dropdown-menu {

    display: block; 
    position: absolute;
    top: 47px; 
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    min-width: 150px;
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    pointer-events: none; 
}

.dropdown-menu a {

    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-menu a:hover {

    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.navbar-user-photo:focus-within .dropdown-menu,
.user-photo:focus-within + .dropdown-menu:focus-within {

    opacity: 1; 
    transform: translateY(1);
    pointer-events: auto; 
}

.main-content-button {

    position: fixed;
    top: -100px;
    left: -100px;
    background-color: #8db4d7;
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: 5px;
    color: #534d4d;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-content-button:focus {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000;
    background-color: #534d4d;
    color: white;
}

.user-photo {

    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-photo:hover + .dropdown-menu,
.navbar-user-photo:hover .dropdown-menu {

    opacity: 1; 
    transform: translateY(0);
    pointer-events: auto; 
}
